@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    line-height: 1.5;
    margin: 8px;
}

.breed-select {
    font-size: 18px;
    padding: 4px 8px;
}

.loader {
    font-weight: 700;
    margin-top: 10px;
}

.error {
    font-weight: 700;
    color: red;
    margin-top: 10px;
}

.cat-info {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.cat-img {
    max-width: 500px;
    width: 100%;
}

.cat-info-block {
    max-width: 500px;
}

.cat-title {
    font-size: 38px;
    margin-bottom: 20px;
}

.cat-descr {
    font-size: 18px;
    margin-bottom: 10px;
}

.cat-temp {
    font-size: 18px;
}